@import "../colors.scss";
@import "../header/header.scss";

.caseDetail {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-height: 100%;
  overflow: hidden;
  background: $white;
  border-radius: 10px;
  padding: 0 20px;
  
  .title { 
    text-align: center;
    margin: 20px;
  }
  .btn {
    align-self: flex-end;
    width: 300px;
    height: 50px;
    margin-bottom: 10px;
    border: 1 px solid $lightblue;
    font: inherit;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      
      color: white;
      border: 1px solid $lightblue;
      border-radius: 2px;
    }
  }
  .button-edit {
    .img-edit {
      width: 20px;
      margin-right: 10px;
    }
  }
  .form-case {
    max-height: 500px;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 300px 300px;
    grid-row-gap: 25px;
    grid-column-gap: 100px;
    margin-bottom: 30px;
    padding: 40px 20px 20px 20px;
    border-top: 1px solid $lightblue;
    align-items: center;
    &::-webkit-scrollbar {
      width: 12px;
      background-color: #f9f9fd;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #CBCBCB;
      border-radius: 5px;
    }
    .input {
      outline: none;
      font-size: inherit;
      padding: 3px;
      font-family: inherit;
      height: 30px;
      &:disabled {
        background: none;
        border: none;
        font: inherit;
        color: inherit;
      }

    }
    select {
      &:disabled {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        color: black;
        &:hover {
          cursor: none;
        }
      }
    }
    .textarea {
      resize: none;
      max-height: 100px;
      display: block;
      overflow: auto;
      &::-webkit-scrollbar {
        width: 12px;
        background-color: #f9f9fd;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #CBCBCB;
        border-radius: 5px;
      }
    }
    .empty {
      height: 1rem;
      overflow: auto;
    }
  }
}

.detail-buttons{
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1280px){
  .caseDetail {
    .btn {
      width: 250px;
      height: 30px;
    }
  }
}

@media screen and (max-width: 768px){
  .caseDetail {
    .btn {
      width: 100px;
      height: 30px;
    }

    .form-case{
      width: 300px;
      grid-template-columns: 180px 120px;
      grid-row-gap: 10px;
      grid-column-gap: 10px;
      margin-bottom: 30px;
      padding: 5px 5px 5px 5px;
      .input{
        height: 18px;
        width: 100px;
      }
    }
  }
}