.main{
    width: 1440px;
    display: flex;
    flex-wrap: wrap;
}

.description{
 width: 416px;
 display: flex;
 flex-direction: column;
 margin-top: 160px;
 margin-left: 20px;
}

.title{
    margin: 12px auto;
    background-color: #C7C7C7;
    font-size: 28px;
}

.descriptionText{
    background-color: #C7C7C7;
    margin: 8px;
}

.block{
    background-color: #959595;
    height: 520px;
    width: 700px;
    display: flex;
    margin-top: 50px;
    margin-left: 270px;

}
